.c-triangle_label {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  border: 55px solid transparent;
  border-top: 55px solid #c2504f;
  border-left: 55px solid #c2504f;
  width: 0;
  height: 0;
}

.c-logo {
  width: 230px;
  margin: 0 auto;
}

.c-background {
  width: 100%;
  max-width: 1200px;
}

.c-img_01 {
  height: 300px;
}

.c-img_02 {
  height: 300px;
}

.c-img_03 {
  height: 300px;
  background-image: url('/img/creation02.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}

.c-img_04 {
  height: 300px;
  background-image: url('/img/talking01.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}

.c-img_05 {
  height: 300px;
  background-image: url('/img/talking02.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}

.c-img_06 {
  height: 300px;
  background-image: url('/img/enjoy01.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}

.c-img_07 {
  height: 300px;
  background-image: url('/img/enjoy02.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}

.c-img_08 {
  height: 300px;
  //background-image: url('/img/about01.jpg');
  background-image: url('/img/moc/1200x400_CHATBOX.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.c-img_09 {
  height: 300px;
  background-image: url('/img/member01.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.c-detail_img {
  display: inline-block;
  width: 300px;
  height: 200px;
  background-image: url('/img/moc/600x400_detail.png');
  background-repeat: no-repeat;
  background-size: contain;
}