/* common */
html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem; }

dd {
  margin-left: 0; }

a:link {
  text-decoration: none; }

.c_clear {
  clear: both; }

/* css checkbox01 */
.checkbox01-input {
  display: none; }

.checkbox01-parts {
  padding-left: 26%;
  position: relative;
  margin-right: 30%; }

.current .checkbox01-parts::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  border: 1px solid #FFFFFF;
  background-color: #FFFFFF;
  border-radius: 4px; }

.checkbox01-parts::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  border: 1px solid #C3504F;
  background-color: #FFFFFF;
  border-radius: 4px; }

.current .checkbox01-input:checked + .checkbox01-parts {
  color: #FFFFFF; }

.checkbox01-input:checked + .checkbox01-parts {
  color: #C3504F; }

.checkbox01-input:checked + .checkbox01-parts::after {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 5px;
  width: 7px;
  height: 14px;
  transform: rotate(40deg);
  border-bottom: 3px solid #C3504F;
  border-right: 3px solid #C3504F; }

/* content */
.c-contact_sub_info {
  margin-bottom: 7%; }

.c-contact_container {
  padding: 0 2%; }

.c_border_content {
  border: 1px solid #C3504F; }

.c_border {
  border: 1px solid #C3504F; }

.c_modal_text {
  color: #C3504F; }

.c_modal_text_number {
  font-family: YuGothic;
  font-size: 3rem;
  font-weight: bold;
  color: #C3504F; }

/* contact */
.contact_box {
  overflow: auto;
  padding: 5% 3% 2%; }
  .contact_box .c_border {
    margin-bottom: 3%; }
  .contact_box .ttl {
    font-weight: 600;
    margin-bottom: 3%; }

.c-contactContainer {
  line-height: 1.6;
  padding: 0 14px; }
  .c-contactContainer .p-intro {
    margin-top: 64px; }

.c_content_center {
  text-align: center; }

/* button */
.c-btn_base {
  background-color: #C3504F;
  color: #FFFFFF;
  padding: 7%;
  border-radius: 7px;
  display: block;
  box-sizing: border-box;
  margin-bottom: 3%;
  width: 100%; }

i {
  margin-right: 3%; }

/* contact */
.contact_sub {
  margin-bottom: 87px; }

.p_form_box .c-link_anchor {
  border: 1px solid #C3504F;
  border-radius: 7px;
  color: #c3504f;
  margin: 1% 0;
  padding: 3% 16%;
  display: inline-block;
  width: 16%;
  white-space: nowrap;
  font-size: 100%; }
.p_form_box .current {
  background-color: #C3504F;
  color: #FFFFFF; }

.p-contact {
  text-align: left; }

.p_form {
  margin-top: 7%; }
  .p_form dt {
    margin-bottom: 1%; }
  .p_form dd {
    margin-bottom: 3%; }
  .p_form input, .p_form textarea {
    border: 1px solid #cacaca;
    padding: 2%;
    width: 100%;
    box-sizing: border-box;
    line-height: 1.2;
    font-size: 120%; }

.submit {
  text-align: center;
  width: 100%;
  font-size: 2rem; }

.submit::after {
  font-family: 'FontAwesome';
  content: "\f054";
  position: absolute;
  top: 50%;
  right: 9%;
  margin-top: -12px;
  color: #FFFFFF; }

/* pc */
@media screen and (min-width: 768px) {
  .contact_box {
    overflow: hidden; }
    .contact_box .c_border {
      border-style: none; }
    .contact_box .c_contact_sns_box {
      width: 60%;
      float: left; }
    .contact_box .c-link {
      width: 48%;
      float: left;
      margin-right: 1%; }
      .contact_box .c-link a {
        padding: 5% 10%; }
      .contact_box .c-link:first-child {
        margin-left: 3%; }
    .contact_box .c_contact_tel_box {
      border-left: 1px solid #C3504F;
      width: 34%;
      float: left;
      margin-left: 3%;
      padding-bottom: 5%; }
      .contact_box .c_contact_tel_box .c_modal_text_number {
        font-size: 3rem; }

  .p-contact_check .c-link {
    width: 55%;
    margin: 0 auto; }

  .p_form {
    margin-top: 7%; }
    .p_form dt {
      margin-bottom: 1%;
      width: 10%;
      float: left;
      clear: both;
      text-align: right;
      margin-right: 3%; }
    .p_form dd {
      margin-bottom: 3%;
      width: 80%;
      float: left; }
    .p_form input, .p_form textarea {
      border: 1px solid #cacaca;
      padding: 2%;
      width: 100%;
      box-sizing: border-box;
      line-height: 1.2;
      font-size: 80%; }

  .p-contact {
    text-align: center; }
    .p-contact .submit {
      width: 30%;
      margin: 0 auto;
      display: inline-block;
      position: relative; } }
.p-section {
  background: #fff; }

.c-detail {
  max-width: 1090px;
  height: 200px;
  box-shadow: 15px 15px 0 0 #C3504F;
  border: 1px solid #C3504F;
  background-color: #FFFFFF; }
  .c-detail_anchor {
    text-decoration: none;
    font-family: YuGothic, serif;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #C3504F; }

.c-link_small, .c-link_large {
  display: block;
  max-width: 240px;
  height: 50px;
  border-radius: 6px;
  background-color: #C3504F;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color: #fff; }
  .c-link_small:hover, .c-link_large:hover {
    text-decoration: none; }

.c-link_large {
  max-width: 400px;
  height: 100px;
  line-height: 100px;
  font-size: 24px; }

.c-outerContainer {
  max-width: 1300px;
  margin: 0 auto;
  background-color: blue; }

.c-container {
  max-width: 1200px;
  margin: 0 auto;
  background-color: red; }

.c-caption {
  font-family: YuGothic, serif;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 5px;
  color: #C3504F; }

.c-sentence {
  line-height: 30px;
  font-family: YuGothic, serif;
  font-size: 15px;
  font-weight: 500;
  color: #393739; }

.c-overview {
  font-family: YuGothic, serif;
  font-size: 20px;
  font-weight: bold;
  color: #C3504F; }

.c-address {
  line-height: 40px; }
  .c-address_text {
    font-family: YuGothic, serif;
    font-size: 20px;
    font-weight: bold;
    color: #393739; }

.c-access {
  line-height: 40px; }
  .c-access_text {
    font-family: YuGothic, serif;
    font-size: 15px;
    font-weight: 500;
    color: #393739; }

.c-triangle_label {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  border: 55px solid transparent;
  border-top: 55px solid #c2504f;
  border-left: 55px solid #c2504f;
  width: 0;
  height: 0; }

.c-logo {
  width: 230px;
  margin: 0 auto; }

.c-background {
  width: 100%;
  max-width: 1200px; }

.c-img_01 {
  height: 300px; }

.c-img_02 {
  height: 300px; }

.c-img_03 {
  height: 300px;
  background-image: url("/img/creation02.jpg");
  background-repeat: no-repeat;
  background-size: contain; }

.c-img_04 {
  height: 300px;
  background-image: url("/img/talking01.jpg");
  background-repeat: no-repeat;
  background-size: contain; }

.c-img_05 {
  height: 300px;
  background-image: url("/img/talking02.jpg");
  background-repeat: no-repeat;
  background-size: contain; }

.c-img_06 {
  height: 300px;
  background-image: url("/img/enjoy01.jpg");
  background-repeat: no-repeat;
  background-size: contain; }

.c-img_07 {
  height: 300px;
  background-image: url("/img/enjoy02.jpg");
  background-repeat: no-repeat;
  background-size: contain; }

.c-img_08 {
  height: 300px;
  background-image: url("/img/moc/1200x400_CHATBOX.png");
  background-repeat: no-repeat;
  background-size: contain; }

.c-img_09 {
  height: 300px;
  background-image: url("/img/member01.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

.c-detail_img {
  display: inline-block;
  width: 300px;
  height: 200px;
  background-image: url("/img/moc/600x400_detail.png");
  background-repeat: no-repeat;
  background-size: contain; }

.c-company_row {
  line-height: 30px; }
.c-company_header {
  text-align: left;
  font-family: YuGothic, serif;
  font-size: 15px;
  font-weight: bold;
  color: #393739; }
.c-company_data {
  padding-left: 30px;
  font-family: YuGothic, serif;
  font-size: 15px;
  font-weight: 500;
  color: #393739; }

.c-slogan {
  max-width: 830px;
  height: 250px;
  border-radius: 0 6px 6px 0;
  background-color: #C3504F;
  opacity: 0.9;
  vertical-align: middle;
  text-align: center; }
  .c-slogan_text {
    line-height: 84px;
    font-family: YuGothic, serif;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 4px;
    color: #FFFFFF; }

.c-title {
  font-family: YuMincho, serif;
  font-size: 40px;
  font-weight: 500;
  color: #393739; }
  .c-title::first-letter {
    font-size: 80px;
    color: #C3504F; }

.c-subTitle {
  font-family: YuMincho, serif;
  font-size: 40px;
  font-weight: 500;
  color: #393739; }

.u-link_small {
  margin-left: 7%;
  clear: both; }

.u-link_large {
  margin: 0 auto;
  width: 90%; }

.u-detail {
  margin: 0 auto;
  width: 100%; }

.u-container {
  position: relative;
  height: 100%; }

.u-outerContainer {
  position: relative;
  height: 100%; }

.u-firstView {
  position: relative;
  height: 900px; }

.u-intro {
  position: relative;
  height: 900px; }

.u-creation {
  position: relative;
  height: 900px; }

.u-talking {
  position: relative;
  height: 900px; }

.u-enjoy {
  position: relative;
  height: 900px; }

.u-about {
  position: relative;
  height: 900px; }

.u-member {
  margin-bottom: 200px; }

.u-sentence {
  margin: 0 auto;
  margin-bottom: 50px;
  max-width: 500px;
  width: 90%; }

.u-section_01 {
  position: relative;
  margin: 0 auto;
  margin-top: 300px;
  width: 400px; }

.u-caption_01 {
  margin-left: 5%; }
  .u-caption_01:nth-child(1) {
    padding-top: 30px; }
  .u-caption_01:nth-child(2) {
    margin-bottom: 30px; }

.u-sentence_01 {
  margin-left: 5%;
  max-width: 400px;
  width: 90%; }

.u-section_02 {
  margin: 0 auto;
  width: 400px; }

.u-caption_02 {
  margin-left: 5%; }
  .u-caption_02:nth-child(1) {
    padding-top: 30px; }
  .u-caption_02:nth-child(2) {
    margin-bottom: 30px; }

.u-sentence_02 {
  margin-left: 5%;
  max-width: 400px;
  width: 90%; }

.u-address {
  margin-left: 7%;
  margin-bottom: 50px; }

.u-access {
  margin-left: 7%;
  margin-bottom: 50px; }

.u-logo {
  padding-top: 10px; }

.u-background {
  position: absolute;
  right: 0; }

.u-img_01 {
  position: absolute;
  top: 100px;
  height: 400px;
  width: 100%; }

.u-img_02 {
  width: 100%; }

.u-img_08 {
  width: 90%;
  margin: 0 5%;
  margin-bottom: 30px; }

.u-company {
  margin-left: 7%;
  margin-bottom: 70px; }

.u-slogan {
  position: absolute;
  top: 45%;
  width: 85%; }

.u-title_center {
  text-align: center;
  margin-bottom: 40px; }

.u-title_left {
  margin-left: 5%;
  margin-bottom: 0; }

.u-subTitle {
  margin-left: 7%; }

/*# sourceMappingURL=app.css.map */
