@import "../../layout/layout";

@mixin c-title {
  font-family: YuMincho, serif;
  font-weight: 500;
  font-size: 2rem;
  color: #393739;
  &::first-letter {
    font-size: 1.5em;
    color: #C3504F;
  }
  @include tablet{
    font-size: 3.0rem;
  }
  @include desktop{
    font-size: 5.0rem;
  }
}

@mixin c-caption {
  font-family: YuGothic, serif;
  font-size: 1.7rem;
  font-weight: bold;
  letter-spacing: 5px;
  color: #C3504F;
}

@mixin c-subTitle {
  font-family: YuMincho, serif;
  font-size: 1.7rem;
  font-weight: 500;
  color: #393739;
}

@mixin c-sentence {
  line-height: 30px;
  font-family: YuGothic, serif;
  font-size: 1.2rem;
  font-weight: 500;
  color: #393739;
}


//.c-overview {
//  font-family: YuGothic, serif;
//  font-size: 20px;
//  font-weight: bold;
//  color: #C3504F;
//}
//
//.c-address {
//  line-height: 40px;
//  &_text {
//    font-family: YuGothic, serif;
//    font-size: 20px;
//    font-weight: bold;
//    color: #393739;
//  }
//}
//
//.c-access {
//  line-height: 40px;
//  &_text {
//    font-family: YuGothic, serif;
//    font-size: 15px;
//    font-weight: 500;
//    color: #393739;
//  }
//}
