.u-firstView {
  position: relative;
  height: 900px;
}

.u-intro {
  position: relative;
  height: 900px;
}

.u-creation {
  position: relative;
  height: 900px;
}

.u-talking {
  position: relative;
  height: 900px;
}

.u-enjoy {
  position: relative;
  height: 900px;
}

.u-about {
  position: relative;
  height: 900px;
}

.u-member {
  margin-bottom: 200px;
}

.u-sentence {
  margin: 0 auto;
  margin-bottom: 50px;
  max-width: 500px;
  width: 90%;
}

.u-section_01 {
  position: relative;
  margin: 0 auto;
  margin-top: 300px;
  width: 400px;
}

.u-caption_01 {
  margin-left: 5%;
  &:nth-child(1) {
    padding-top: 30px;
  }
  &:nth-child(2) {
    margin-bottom: 30px;
  }
}

.u-sentence_01 {
  margin-left: 5%;
  max-width: 400px;
  width: 90%;
}

.u-section_02 {
  margin: 0 auto;
  width: 400px;
}

.u-caption_02 {
  margin-left: 5%;
  &:nth-child(1) {
    padding-top: 30px;
  }
  &:nth-child(2) {
    margin-bottom: 30px;
  }
}

.u-sentence_02 {
  margin-left: 5%;
  max-width: 400px;
  width: 90%;
}

.u-address {
  margin-left: 7%;
  margin-bottom: 50px;
}

.u-access {
  margin-left: 7%;
  margin-bottom: 50px;
}