.u-logo {
  padding-top: 10px;
}

.u-background {
  position: absolute;
  right: 0;
}

.u-img_01 {
  position: absolute;
  top: 100px;
  height: 400px;
  width: 100%;
}

.u-img_02 {
  width: 100%;
}

.u-img_08 {
  width:90%;
  margin: 0 5%;
  margin-bottom: 30px;
}