/* title */
.u-title_left {
  margin-left: 5%;
  margin-bottom: 0;
}

.u-title_center {
  text-align: center;
}

/* image */
.u-img_08 {
  width:90%;
  margin: 0 5%;
  margin-bottom: 30px;
}

/* company */
.u-company {
  margin-left: 7%;
  margin-bottom: 70px;
}

/* subTitle */
.u-subTitle {
  margin-left: 7%;
}

/* address */
.u-address {
  margin-left: 7%;
  margin-bottom: 50px;
}

/* access */
.u-access {
  margin-left: 7%;
  margin-bottom: 50px;
}

/* link */
.u-link {
  margin-left: 7%;
  clear: both;
}