.u-title_left {
  margin-left: 5%;
  margin-bottom: 0;
}

.u-title_center {
  text-align: center;
  margin-bottom: 40px;
}

.u-img_08 {
  width:90%;
  margin: 0 5%;
  margin-bottom: 30px;
}

.u-company {
  margin-left: 7%;
  margin-bottom: 70px;
}

.u-subTitle {
  margin-left: 7%;
}

.u-address {
  margin-left: 7%;
  margin-bottom: 50px;
}

.u-access {
  margin-left: 7%;
  margin-bottom: 50px;
}

.u-link_small {
  margin-left: 7%;
  clear: both;
}

.u-link_large {
  width: 90%;
}

.u-sentence {
  margin: 0 auto;
  margin-bottom: 50px;
  max-width: 500px;
  width: 90%;
}

.u-link_large {
  margin: 0 auto;
}

.u-detail {
  margin: 0 auto;
  width: 100%;
}

.u-section_01 {
  position: relative;
  margin: 0 auto;
  margin-top: 300px;
  width: 400px;
}

.u-caption_01 {
  margin-left: 5%;
  &:nth-child(1) {
    padding-top: 30px;
  }
  &:nth-child(2) {
    margin-bottom: 30px;
  }
}

.u-sentence_01 {
  margin-left: 5%;
  max-width: 400px;
  width: 90%;
}

.u-firstView {
  position: relative;
  height: 900px;
}

.u-intro {
  position: relative;
  height: 900px;
}

.u-creation {
  position: relative;
  height: 900px;
}

.u-talking {
  position: relative;
  height: 900px;
}

.u-enjoy {
  position: relative;
  height: 900px;
}

.u-about {
  position: relative;
  height: 900px;
}

.u-member {
  position: relative;
  height: 900px;
}

.u-outerContainer {
  position: relative;
  height: 100%;
}

.u-logo {
  padding-top: 10px;
}

.u-background {
  position: absolute;
  right: 0;
}

.u-slogan {
  position: absolute;
  top: 45%;
  width: 85%;
}

.u-img_01 {
  position: absolute;
  top: 100px;
  height: 400px;
  width: 100%;
}