/* title */
.u-title_left {
  margin-left: 5%;
  margin-bottom: 0;
}

.u-title_center {
  text-align: center;
  margin-bottom: 40px;
}

/* image */
.u-img_08 {
  width:90%;
  margin: 0 5%;
  margin-bottom: 30px;
}

/* company */
.u-company {
  margin-left: 7%;
  margin-bottom: 70px;
}

/* subTitle */
.u-subTitle {
  margin-left: 7%;
}

/* address */
.u-address {
  margin-left: 7%;
  margin-bottom: 50px;
}

/* access */
.u-access {
  margin-left: 7%;
  margin-bottom: 50px;
}

/* link */
.u-link_small {
  margin-left: 7%;
  clear: both;
}

.u-link_large {
  width: 90%;
}

/* sentence */
.u-sentence {
  margin: 0 auto;
  margin-bottom: 50px;
  max-width: 500px;
  width: 90%;
}

.u-link_large {
  margin: 0 auto;
}